* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#slider {
    text-align: center;
    
}
.text {
    font-size: 40px;
    color: red;
    text-align: center;
}
.cc {
margin-left: auto;
margin-right: auto;
display: block;
}
.text-dd {
    text-align: center;
    font-size: 30px;
}
.cl {
    left: 50%;
    font-size: 20px;
    color: blue;
}
